[submodule "agent/hooking/Detours"]
	path = agent/hooking/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "agent/unpacking/mal_unpack"]
	path = agent/unpacking/mal_unpack
	url = https://github.com/hasherezade/mal_unpack.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:sledre/frontend.git
[submodule "agent"]
	path = agent
	url = git@github.com:sledre/agent.git
