Django==4.0
django-filter==21.1
djangorestframework==3.13.1
Markdown==3.3.6
psycopg2==2.9.2
django_fsm==2.8.0
django_cors_headers==3.10.1
redis==4.0.2
celery==5.2.1
docker==5.0.3
pyyaml==6.0
django-cleanup==5.2.0
jsonlines==3.0.0